# para generar claves: dd if=/dev/urandom bs=1 count=64 2>/dev/null | base64 -w 0 | tr -dc _A-Z-a-z-0-9 | cut -c 1-32
# ollama
OLLAMA_DEBUG=false
OLLAMA_KEEP_ALIVE=1m
OLLAMA_MAX_LOADED_MODELS=1
OLLAMA_MAX_QUEUE=512
OLLAMA_NUM_PARALLEL=1
OLLAMA_NOPRUNE=false
OLLAMA_SCHED_SPREAD=false
OLLAMA_FLASH_ATTENTION=true
OLLAMA_KV_CACHE_TYPE=q4_0
OLLAMA_LOAD_TIMEOUT=1m
OPORT=11434
ohostname=ollama

# openwebui
PORT=8383
ENABLE_OPENAI_API=false
OPENAI_API_BASE_URL=https://api.openai.com/v1
CUSTOM_NAME=lab
openhostname=openwebui

# n8n
N8N_ENCRYPTION_KEY=5hPh0By12GSRjeL9MA0QQhGTaJMeQDxz #change me
N8N_USER_MANAGEMENT_JWT_SECRET=pUXz0lQstdrk3LzF4H1Y6amX6Jt7QNLU #change me
N8N_RUNNERS_AUTH_TOKEN=vdqx9u7LGhT9taaOWwe2wXrQPwtyNfVP #change me
N8N_PORT=5678
N8N_PORT2=5679
DB_TYPE=postgresdb
nhostname=n8n
WEBHOOK_URL=https://n8n.example.com/ #change me
N8N_PAYLOAD_SIZE_MAX=32
N8N_FORMDATA_FILE_SIZE_MAX=400
N8N_SMTP_HOST=smtp.example.com
N8N_SMTP_PORT=587
N8N_SMTP_USER=user@example.com
N8N_SMTP_PASS=123456789
TIMEZONE="America/Caracas"
LANGCHAIN_API_KEY="ssafgasfgasfgasfgasfg" #change me
workername=n8n-worker

# postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=KrFgLvKJRvinkEG5 #change me
POSTGRES_DB=lab
POSTGRESDB_PORT=5432
DATABASE_HOST=postgres-ai
phostname=postgres-ai

# redis
REDIS_PORT=6379
rhostname=redis-ai

# qdrant
qdrant=6333
qhostname=qdrant

# kafka
kafka1=9092
kafka2=9093
khostname=kafka

# whisper
wport=7860
ASR_MODEL=base #Model selection (tiny, base, small, medium, large-v3, etc.)
ASR_ENGINE=openai_whisper #Engine selection (openai_whisper, faster_whisper, whisperx)
whostname=whisper

# crawl4ai
CRAWL4AI_API_TOKEN=example #change me
OPENAI_API_KEY=example #change me
CLAUDE_API_KEY=example #change me
CRAW1=11235
CRAW2=8001
CRAW3=9222
CRAW4=8081
crawhostname=crawl4ai

# nginx proxy manager
proxyhostname=proxy
pproxy=81
INITIAL_ADMIN_EMAIL=my@example.com #change me
INITIAL_ADMIN_PASSWORD=mypassword1 #change me
DISABLE_IPV6=false
# change to true if IPv6 is not enabled on your host

# searxng
searxnghostname=searxng
psearch=8181
SEARXNG_HOSTNAME=searxng.example.com #change me
SEARXNG_UWSGI_WORKERS=4
SEARXNG_UWSGI_THREADS=4

# Mongodb
mhostname=mongo
mongoport=9081
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=KrFgLvKJRvinkEG5 #change me

# evolution api
EVOLUTION_SERVER_URL=https://evo.example.com #change me
evoapikey=GSAQM73l6zcFYAECYfPUIaB9iCfjTCOp #change me
evohostname=evolutionapi
evoport=9191
evodb=evolution

# global
restart=always
pull_policy=always
UOLLAMA='http://ollama:11434'
